.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.970215;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.970215;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.935059;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.925781;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.970215;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.925781;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.951660;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.955078;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.237173,0.000000,-0.079050,0.237173,0,0);-ms-transform:matrix(0.237173,0.000000,-0.079050,0.237173,0,0);-webkit-transform:matrix(0.237173,0.000000,-0.079050,0.237173,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.lsa{letter-spacing:-0.576000px;}
.ls5{letter-spacing:-0.505959px;}
.ls4{letter-spacing:-0.480000px;}
.ls1{letter-spacing:-0.188000px;}
.ls6{letter-spacing:-0.096000px;}
.ls2{letter-spacing:-0.071200px;}
.ls0{letter-spacing:0.000000px;}
.ls7{letter-spacing:0.096000px;}
.ls8{letter-spacing:0.480000px;}
.ls3{letter-spacing:9.600000px;}
.ls9{letter-spacing:10.080000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.000960px;}
._9{width:1.251200px;}
._5{width:3.206592px;}
._3{width:5.344320px;}
._7{width:6.402240px;}
._1{width:7.525440px;}
._2{width:8.648640px;}
._6{width:10.111520px;}
._a{width:26.991840px;}
._8{width:37.760000px;}
._4{width:43.713600px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:39.840000px;}
.fs6{font-size:39.936000px;}
.fs0{font-size:44.160000px;}
.fs4{font-size:44.256000px;}
.fs7{font-size:46.548262px;}
.fs1{font-size:56.160000px;}
.fs2{font-size:56.256000px;}
.fs5{font-size:63.840000px;}
.y1{bottom:0.000000px;}
.y0{bottom:47.500000px;}
.y5{bottom:67.200000px;}
.y24{bottom:76.440000px;}
.y4{bottom:81.480000px;}
.y23{bottom:96.720000px;}
.y3{bottom:99.120000px;}
.y2{bottom:113.400000px;}
.y22{bottom:116.900000px;}
.y21{bottom:137.780000px;}
.y20{bottom:158.060000px;}
.y1f{bottom:172.940000px;}
.y1e{bottom:193.820000px;}
.y58{bottom:194.180000px;}
.y57{bottom:214.340000px;}
.y1d{bottom:225.140000px;}
.y56{bottom:235.700000px;}
.y1c{bottom:248.300000px;}
.y55{bottom:251.900000px;}
.y54{bottom:267.140000px;}
.y1b{bottom:268.490000px;}
.y3b{bottom:273.530000px;}
.y53{bottom:281.450000px;}
.y1a{bottom:288.770000px;}
.y3a{bottom:293.810000px;}
.y52{bottom:295.730000px;}
.y39{bottom:308.090000px;}
.y70{bottom:310.370000px;}
.y19{bottom:310.730000px;}
.y51{bottom:314.210000px;}
.y38{bottom:328.250000px;}
.y18{bottom:332.090000px;}
.y6f{bottom:332.330000px;}
.y50{bottom:338.570000px;}
.y37{bottom:348.530000px;}
.y6e{bottom:349.370000px;}
.y17{bottom:352.370000px;}
.y4f{bottom:354.530000px;}
.y36{bottom:362.810000px;}
.y4e{bottom:371.570000px;}
.y6d{bottom:372.290000px;}
.y16{bottom:374.210000px;}
.y4d{bottom:388.610000px;}
.y35{bottom:394.130000px;}
.y6c{bottom:395.330000px;}
.y15{bottom:395.570000px;}
.y4c{bottom:405.650000px;}
.y6b{bottom:412.370000px;}
.y34{bottom:417.170000px;}
.y4b{bottom:422.590000px;}
.y14{bottom:426.910000px;}
.y6a{bottom:436.870000px;}
.y33{bottom:438.070000px;}
.y4a{bottom:439.630000px;}
.y13{bottom:449.950000px;}
.y69{bottom:461.350000px;}
.y49{bottom:462.670000px;}
.y32{bottom:469.390000px;}
.y12{bottom:470.950000px;}
.y48{bottom:479.710000px;}
.y68{bottom:483.310000px;}
.y11{bottom:491.110000px;}
.y31{bottom:492.550000px;}
.y47{bottom:498.190000px;}
.y67{bottom:501.910000px;}
.y10{bottom:505.990000px;}
.y30{bottom:513.430000px;}
.y46{bottom:522.670000px;}
.y66{bottom:526.270000px;}
.yf{bottom:526.870000px;}
.y2f{bottom:534.310000px;}
.y45{bottom:536.950000px;}
.y65{bottom:545.470000px;}
.ye{bottom:547.870000px;}
.y44{bottom:552.910000px;}
.y2e{bottom:555.190000px;}
.y64{bottom:561.550000px;}
.y43{bottom:569.830000px;}
.y2d{bottom:576.100000px;}
.y63{bottom:577.420000px;}
.yd{bottom:579.100000px;}
.y42{bottom:586.900000px;}
.y62{bottom:594.460000px;}
.y2c{bottom:596.980000px;}
.yc{bottom:602.260000px;}
.y41{bottom:603.940000px;}
.y61{bottom:611.500000px;}
.yb{bottom:622.540000px;}
.y2b{bottom:628.300000px;}
.y60{bottom:629.980000px;}
.ya{bottom:642.700000px;}
.y40{bottom:646.900000px;}
.y5f{bottom:649.540000px;}
.y2a{bottom:651.340000px;}
.y9{bottom:662.980000px;}
.y3f{bottom:668.860000px;}
.y29{bottom:671.620000px;}
.y5e{bottom:672.580000px;}
.y8{bottom:683.260000px;}
.y28{bottom:685.900000px;}
.y5d{bottom:686.860000px;}
.y3e{bottom:691.900000px;}
.y27{bottom:700.180000px;}
.y5c{bottom:701.140000px;}
.y7{bottom:703.540000px;}
.y3d{bottom:714.940000px;}
.y5b{bottom:717.100000px;}
.y26{bottom:731.400000px;}
.y3c{bottom:733.440000px;}
.y25{bottom:734.640000px;}
.y6{bottom:734.760000px;}
.y59{bottom:735.000000px;}
.y71{bottom:735.480000px;}
.y5a{bottom:735.600000px;}
.h2{height:33.120000px;}
.h6{height:33.192000px;}
.h5{height:35.707500px;}
.h8{height:37.638633px;}
.ha{height:38.144062px;}
.hd{height:38.226984px;}
.hc{height:38.295000px;}
.hb{height:40.206970px;}
.h3{height:42.120000px;}
.h4{height:42.192000px;}
.h7{height:47.880000px;}
.h9{height:48.509297px;}
.he{height:55.143047px;}
.h1{height:708.500000px;}
.h0{height:792.000000px;}
.w3{width:540.000000px;}
.w1{width:540.500000px;}
.w2{width:611.999991px;}
.w0{width:612.000000px;}
.x1{left:0.000009px;}
.x0{left:36.000000px;}
.x5{left:52.799991px;}
.x11{left:73.223991px;}
.x4{left:99.023991px;}
.x8{left:125.179991px;}
.x2{left:161.539991px;}
.x3{left:193.729991px;}
.x6{left:236.089991px;}
.x7{left:254.089991px;}
.xb{left:268.609991px;}
.x10{left:334.509991px;}
.xc{left:356.469991px;}
.x9{left:368.469991px;}
.xa{left:379.509991px;}
.xe{left:381.669991px;}
.xd{left:444.459991px;}
.xf{left:469.659991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsa{letter-spacing:-0.768000pt;}
.ls5{letter-spacing:-0.674612pt;}
.ls4{letter-spacing:-0.640000pt;}
.ls1{letter-spacing:-0.250667pt;}
.ls6{letter-spacing:-0.128000pt;}
.ls2{letter-spacing:-0.094933pt;}
.ls0{letter-spacing:0.000000pt;}
.ls7{letter-spacing:0.128000pt;}
.ls8{letter-spacing:0.640000pt;}
.ls3{letter-spacing:12.800000pt;}
.ls9{letter-spacing:13.440000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.334613pt;}
._9{width:1.668267pt;}
._5{width:4.275456pt;}
._3{width:7.125760pt;}
._7{width:8.536320pt;}
._1{width:10.033920pt;}
._2{width:11.531520pt;}
._6{width:13.482027pt;}
._a{width:35.989120pt;}
._8{width:50.346667pt;}
._4{width:58.284800pt;}
.fs3{font-size:53.120000pt;}
.fs6{font-size:53.248000pt;}
.fs0{font-size:58.880000pt;}
.fs4{font-size:59.008000pt;}
.fs7{font-size:62.064349pt;}
.fs1{font-size:74.880000pt;}
.fs2{font-size:75.008000pt;}
.fs5{font-size:85.120000pt;}
.y1{bottom:0.000000pt;}
.y0{bottom:63.333333pt;}
.y5{bottom:89.600000pt;}
.y24{bottom:101.920000pt;}
.y4{bottom:108.640000pt;}
.y23{bottom:128.960000pt;}
.y3{bottom:132.160000pt;}
.y2{bottom:151.200000pt;}
.y22{bottom:155.866667pt;}
.y21{bottom:183.706667pt;}
.y20{bottom:210.746667pt;}
.y1f{bottom:230.586667pt;}
.y1e{bottom:258.426667pt;}
.y58{bottom:258.906667pt;}
.y57{bottom:285.786667pt;}
.y1d{bottom:300.186667pt;}
.y56{bottom:314.266667pt;}
.y1c{bottom:331.066667pt;}
.y55{bottom:335.866667pt;}
.y54{bottom:356.186667pt;}
.y1b{bottom:357.986667pt;}
.y3b{bottom:364.706667pt;}
.y53{bottom:375.266667pt;}
.y1a{bottom:385.026667pt;}
.y3a{bottom:391.746667pt;}
.y52{bottom:394.306667pt;}
.y39{bottom:410.786667pt;}
.y70{bottom:413.826667pt;}
.y19{bottom:414.306667pt;}
.y51{bottom:418.946667pt;}
.y38{bottom:437.666667pt;}
.y18{bottom:442.786667pt;}
.y6f{bottom:443.106667pt;}
.y50{bottom:451.426667pt;}
.y37{bottom:464.706667pt;}
.y6e{bottom:465.826667pt;}
.y17{bottom:469.826667pt;}
.y4f{bottom:472.706667pt;}
.y36{bottom:483.746667pt;}
.y4e{bottom:495.426667pt;}
.y6d{bottom:496.386667pt;}
.y16{bottom:498.946667pt;}
.y4d{bottom:518.146667pt;}
.y35{bottom:525.506667pt;}
.y6c{bottom:527.106667pt;}
.y15{bottom:527.426667pt;}
.y4c{bottom:540.866667pt;}
.y6b{bottom:549.826667pt;}
.y34{bottom:556.226667pt;}
.y4b{bottom:563.453333pt;}
.y14{bottom:569.213333pt;}
.y6a{bottom:582.493333pt;}
.y33{bottom:584.093333pt;}
.y4a{bottom:586.173333pt;}
.y13{bottom:599.933333pt;}
.y69{bottom:615.133333pt;}
.y49{bottom:616.893333pt;}
.y32{bottom:625.853333pt;}
.y12{bottom:627.933333pt;}
.y48{bottom:639.613333pt;}
.y68{bottom:644.413333pt;}
.y11{bottom:654.813333pt;}
.y31{bottom:656.733333pt;}
.y47{bottom:664.253333pt;}
.y67{bottom:669.213333pt;}
.y10{bottom:674.653333pt;}
.y30{bottom:684.573333pt;}
.y46{bottom:696.893333pt;}
.y66{bottom:701.693333pt;}
.yf{bottom:702.493333pt;}
.y2f{bottom:712.413333pt;}
.y45{bottom:715.933333pt;}
.y65{bottom:727.293333pt;}
.ye{bottom:730.493333pt;}
.y44{bottom:737.213333pt;}
.y2e{bottom:740.253333pt;}
.y64{bottom:748.733333pt;}
.y43{bottom:759.773333pt;}
.y2d{bottom:768.133333pt;}
.y63{bottom:769.893333pt;}
.yd{bottom:772.133333pt;}
.y42{bottom:782.533333pt;}
.y62{bottom:792.613333pt;}
.y2c{bottom:795.973333pt;}
.yc{bottom:803.013333pt;}
.y41{bottom:805.253333pt;}
.y61{bottom:815.333333pt;}
.yb{bottom:830.053333pt;}
.y2b{bottom:837.733333pt;}
.y60{bottom:839.973333pt;}
.ya{bottom:856.933333pt;}
.y40{bottom:862.533333pt;}
.y5f{bottom:866.053333pt;}
.y2a{bottom:868.453333pt;}
.y9{bottom:883.973333pt;}
.y3f{bottom:891.813333pt;}
.y29{bottom:895.493333pt;}
.y5e{bottom:896.773333pt;}
.y8{bottom:911.013333pt;}
.y28{bottom:914.533333pt;}
.y5d{bottom:915.813333pt;}
.y3e{bottom:922.533333pt;}
.y27{bottom:933.573333pt;}
.y5c{bottom:934.853333pt;}
.y7{bottom:938.053333pt;}
.y3d{bottom:953.253333pt;}
.y5b{bottom:956.133333pt;}
.y26{bottom:975.200000pt;}
.y3c{bottom:977.920000pt;}
.y25{bottom:979.520000pt;}
.y6{bottom:979.680000pt;}
.y59{bottom:980.000000pt;}
.y71{bottom:980.640000pt;}
.y5a{bottom:980.800000pt;}
.h2{height:44.160000pt;}
.h6{height:44.256000pt;}
.h5{height:47.610000pt;}
.h8{height:50.184845pt;}
.ha{height:50.858750pt;}
.hd{height:50.969313pt;}
.hc{height:51.060000pt;}
.hb{height:53.609294pt;}
.h3{height:56.160000pt;}
.h4{height:56.256000pt;}
.h7{height:63.840000pt;}
.h9{height:64.679062pt;}
.he{height:73.524062pt;}
.h1{height:944.666667pt;}
.h0{height:1056.000000pt;}
.w3{width:720.000000pt;}
.w1{width:720.666667pt;}
.w2{width:815.999988pt;}
.w0{width:816.000000pt;}
.x1{left:0.000012pt;}
.x0{left:48.000000pt;}
.x5{left:70.399988pt;}
.x11{left:97.631988pt;}
.x4{left:132.031988pt;}
.x8{left:166.906655pt;}
.x2{left:215.386655pt;}
.x3{left:258.306655pt;}
.x6{left:314.786655pt;}
.x7{left:338.786655pt;}
.xb{left:358.146655pt;}
.x10{left:446.013321pt;}
.xc{left:475.293321pt;}
.x9{left:491.293321pt;}
.xa{left:506.013321pt;}
.xe{left:508.893321pt;}
.xd{left:592.613321pt;}
.xf{left:626.213321pt;}
}
