/*!
 * Matt's Styles
 */

.mbody {
  font-size: 20px;
  color: #3b3f42;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  margin: 0 0 10px;
}

.mheader {
  font-weight: 800;
  color: #2b2e30;
  font-family: 'Open Sans', sans-serif;
}

.mpost {
  font-size: 16px;
  color: #687177;
  font-family: 'Nunito Sans', sans-serif;
}

.mbacktop {
  font-size: 16px;
  color: #687177;
  font-family: 'Roboto', sans-serif;
}

.resumediv {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}