/*!
 * Text/Background Style for all main text pages
 */

@font-face {
  font-family: 'Painting With Chocolate';
  src: url('../fonts/Painting_With_Chocolate.ttf') format('truetype');
}

html {
  height: 100%;
}

.page-container {
  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;

  padding: 20px;
  box-sizing: border-box;
}

@media screen and (orientation: landscape) {
  .page-container.notification-opened {
    -webkit-box-orient: horizontal;
    flex-direction: row;
  }

  .page-container.notification-opened>.notification-arrow {
    margin-right: 20px;
  }
}

body {
  background: #fefefe;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

ul {
  margin: 20px 0;
  margin-left: 20px;
  text-indent: 0;
  padding-left: 20px;
  line-height: 150%;
}

div.mtextcon {
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 7%;
  max-width: 1000px;
  margin: 0;
}

div.mtextcon p {
  margin: 0.2;
}

.mstandardpara {
  font-size: 19px;
  color: #3b3f42;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 1.3;
  text-indent: 2em;
}

.mheadpara {
  font-size: 19px;
  color: #977d60 !important;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 1.3;
  text-indent: 2em;
  margin: 10px;
}

.mheader {
  font-size: calc(16px + 4vw);
  color: #2b2e30;
  font-family: 'Painting With Chocolate', sans-serif;
  text-align: center;
  max-width: 1000px;
}

.msubheader {
  font-size: calc(16px + 2vw);
  color: #2b2e30;
  font-family: 'Painting With Chocolate', sans-serif;
  text-align: center;
  max-width: 1000px;
}

/*! CSS for floating boxes/dropshadow for text */
div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

div.cardtext {
  max-height: 100px;
  color: #2b2e30;
  background-color: white;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 25px;
  border-style: solid;
  border-width: 2px;
  border-color: #FFBB00;
  border-radius: 3px;
  line-height: 0.01;
  text-indent: 0;
  margin: auto;
}

/*! CSS for floating boxes/dropshadow for images */
.boxshadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  background: white;
  border-style: solid;
  border-width: 2px;
  border-color: #FFBB00;
  border-radius: 3px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-indent: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*! CSS for chapter ender flower */
.flower {
  padding: 10px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-indent: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*! CSS 2x2 - 3x3 grids for vocab/pronunciation */
.grid-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #FFBB00;
  border-radius: 3px;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.grid-item {
  color: #2b2e30;
  background-color: white;
  border: 1px solid #f2f2f2;
  padding: 20px;
  font-size: calc(15px + 2vmin);
  text-align: center;
  border-collapse: collapse;
  line-height: 0.01;
  text-indent: 0;
}

/*! CSS for vocab intro */
.vocab-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #FFBB00;
  grid-template-columns: auto auto;
  grid-template-rows: 20px auto;
  border-radius: 3px;
  display: inline-grid;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.vocab-top-item {
  border: 1px solid #f2f2f2;
  padding: 0;
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  border-collapse: collapse;
  text-indent: 0;
}

.vocab-item {
  background-color: white;
  border: 1px solid #f2f2f2;
  padding: 1px;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: left;
  border-collapse: collapse;
  line-height: 0.01;
  text-indent: 0;
  min-width: 100px;
}

/*! CSS grid comparison chart */
.switcher {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .switcher {
    display: none;
  }
}

.comparison-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #FFBB00;
  grid-template-columns: auto;
  grid-template-rows: 20px auto;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .comparison-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    width: 80%;
  }
}


.comparison-top-item {
  border: 1px solid #f2f2f2;
  padding: 0;
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  border-collapse: collapse;
  text-indent: 0;
  display: none;
}

@media (min-width: 768px) {
  .comparison-top-item {
    border: 1px solid #f2f2f2;
    padding: 0;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    border-collapse: collapse;
    text-indent: 0;
    display: unset;
  }
}

.comparison-item {
  background-color: white;
  border: 1px solid #f2f2f2;
  padding: 1px;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: left;
  border-collapse: collapse;
  line-height: 0.01;
  text-indent: 0;
  min-width: 100px;
}

.comparison-item-two {
  background-color: white;
  border: 1px solid #f2f2f2;
  padding: 1px;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: left;
  border-collapse: collapse;
  line-height: 0.01;
  text-indent: 0;
  min-width: 100px;
  display: none;
}

@media (min-width: 768px) {
  .comparison-item-two {
    background-color: white;
    border: 1px solid #f2f2f2;
    padding: 1px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    border-collapse: collapse;
    line-height: 0.01;
    text-indent: 0;
    min-width: 100px;
    display: unset;
  }
}

.comparison-item-three {
  background-color: white;
  border: 1px solid #f2f2f2;
  padding: 1px;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: left;
  border-collapse: collapse;
  line-height: 0.01;
  text-indent: 0;
  min-width: 100px;
  display: none;
}

@media (min-width: 768px) {
  .comparison-item-three {
    background-color: white;
    border: 1px solid #f2f2f2;
    padding: 1px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    border-collapse: collapse;
    line-height: 0.01;
    text-indent: 0;
    min-width: 100px;
    display: unset;
  }
}



/*! CSS 2x2 - 3x3 grids for vocab/pronunciation */
.grid-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #FFBB00;
  border-radius: 3px;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.grid-item {
  color: #2b2e30;
  background-color: white;
  border: 1px solid #f2f2f2;
  padding: 20px;
  font-size: calc(15px + 2vmin);
  text-align: center;
  border-collapse: collapse;
  line-height: 0.01;
  text-indent: 0;
}

/*! CSS grids for example sentences */
.sentence-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #FFBB00;
  border-radius: 3px;
  background-size: cover;
  max-width: 90vw;
  min-height: 78px;
  display: grid;
  grid-template-columns: minmax(auto, 65vw) calc(23px + 4vmin);
  grid-template-rows: auto auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.sentence-container h4 {
  font-weight: bold;
  margin: 0;
}

.sentence-container h5 {
  font-weight: bold;
  margin: 0;
}

.sentence-main-item {
  padding-left: 1.8vw;
  font-size: calc(5px + 1em);
  line-height: 1.3;
  text-indent: 0;
  grid-column: 1;
  grid-row: 1;
  width: 85%;
  max-width: 700px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  word-break: keep-all;
}

.sentence-translated-item {
  padding-left: 1.8vw;
  font-size: 0.8em;
  opacity: 0.9;
  border-collapse: collapse;
  line-height: 1.3;
  text-indent: 0;
  grid-column: 1;
  grid-row: 2;
  max-width: 800px;
  margin-top: 10px;
  margin-bottom: 15px;
  align-self: flex-end;
  cursor: pointer;
}

.sentence-picture-item {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: span 2;
  position: absolute;
  max-width: 60px;
  display: flex;
  align-items: center;
  right: 4px;
  top: 50%;
  margin-top: -50%;
}

.sentence-picture-item img {
  vertical-align: middle;
  text-align: center;
}


@media only screen and (min-width: 600px) {
  .sentence-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #FFBB00;
    border-radius: 3px;
    background-size: cover;
    width: 90%;
    max-width: 800px;
    min-height: 98px;
    display: grid;
    grid-template-columns: minmax(auto, 800px) calc(23px + 4vmin);
    grid-template-rows: auto auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }

  .sentence-main-item {
    padding-left: 1.8vw;
    font-size: calc(5px + 1.1em);
    line-height: 1.3;
    text-indent: 0;
    grid-column: 1;
    grid-row: 1;
    width: 85%;
    max-width: 700px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    word-break: keep-all;
  }
  
  .sentence-translated-item {
    padding-left: 1.8vw;
    font-size: 0.9em;
    opacity: 0.9;
    border-collapse: collapse;
    line-height: 1.3;
    text-indent: 0;
    grid-column: 1;
    grid-row: 2;
    max-width: 800px;
    margin-top: 10px;
    margin-bottom: 15px;
    align-self: flex-end;
    cursor: pointer;
  }

  .sentence-picture-item {
    position: absolute;
    max-width: 90px;
    top: 4px;
    right: 4px;
  }
}


/* Modal Images */
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog>div {
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
}

.modalimg {
  max-width: 80%;
  max-height: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  border-width: 2px;
  border-color: #FFBB00;
  border-radius: 3px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: 0.3s;
  text-indent: 0px;
  color: #FFBB00;
  font-size: 20px;
  font-style: italic;
  object-fit: contain;
}

.close {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  overscroll-behavior: contain;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.close div {
  height: 100%;
  width: 100%;
}

.close p {
  color: white;
  font-size: calc(15px + 1vw);
  margin: auto;
  display: block;
  width: 90%;
  text-indent: 0px;
  text-align: center;
  height: auto;
  padding: 2vh;
}

.close img {
  max-width: 80vw;
  max-height: 75vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 9px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s;
  color: #FFBB00;
  font-size: 20px;
  display: block;
  object-fit: contain;
  top: 5vh;
}

.modalimg:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 600px) {
  .modalimg {
    max-width: 40vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-width: 2px;
    border-color: #FFBB00;
    border-radius: 3px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: 0.3s;
    text-indent: 0px;
  }

  .close img {
    max-width: 80vw;
    max-height: 80vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 9px;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s;
    color: #FFBB00;
    font-size: 20px;
    display: block;
    object-fit: contain;
    top: 5vh;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/*CSS for Popout Notes*/

.authornote {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.3s;
  font-size: 20px;
  background-color: #302e2f;
  color: white;
  text-shadow: 1px 4px 6px #000, 0 0 0 #def, 1px 4px 6px #000;
}

.authornote p {
  padding-right: 10px;
  padding-left: 15px;
  text-indent: 0em;
  width: 225px;
}

.authornote a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

.authornote img {
  border-radius: 3px;
  display: block;
  margin: auto;
}

.authornote a:hover {
  color: #f1f1f1;
}

.authornote .closebtn {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.authorcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  box-sizing: border-box;
  line-height: 2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.authornote span {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 0;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.authorarrow {
  position: absolute;
  right: 0;
  background-color: #375E97;
  height: 80%;
  text-indent: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  max-height: 80px;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

.authorarrow img {
  vertical-align: middle;
  height: 40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}