/*!
 * Text/Background Style for all main text pages
 */

@font-face {
  font-family: 'Painting With Chocolate';
  src:  url('../fonts/Painting_With_Chocolate.ttf') format('truetype');
}

body {
  background: #f2f2f2;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  margin: 0;
}

div.mtextcon {
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 7%;
}

div.mtextcon p {
  margin: 0.2;
}

.mstandardpara {
  font-size: 19px;
  color: #3b3f42;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 1.3;
  text-indent: 2em;

}

.mheadpara {
  font-size: 19px;
  color: #977d60 !important;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 1.3;
  text-indent: 2em;
  margin: 10px;
}

.mheader {
  font-size: 8vw;
  font-weight: bold;
  color: #2b2e30;
  font-family: 'Painting With Chocolate', sans-serif;
  text-align: center;
}
.msubheader {
  font-size: 6vw;
  font-weight: bold;
  color: #2b2e30;
  font-family: 'Painting With Chocolate', sans-serif;
  text-align: center;
}

.mbodydiv {
  font-weight: 800;
  color: #2b2e30;
  font-family: 'Open Sans', sans-serif;
  background-size: auto;
}

.mfooter {
  font-weight: 800;
  color: #2b2e30;
  font-family: 'Open Sans', sans-serif;
  background-size: auto;
}

.mpost {
  font-size: 16px;
  color: #687177;
  font-family: 'Nunito Sans', sans-serif;
}

.mbacktop {
  font-size: 16px;
  color: #687177;
  font-family: 'Roboto', sans-serif;
}

.resumediv {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}