<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="koreanlearning.hangul.serokorean">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">

        <activity android:name="koreanlearning.hangul.serokorean.Search.Search"></activity>
        <activity android:name="koreanlearning.hangul.serokorean.beginnerone.webview.BeginnerOneWebView" />
        <activity android:name="koreanlearning.hangul.serokorean.deprecated.ChapterPages" />
        <activity android:name="koreanlearning.hangul.serokorean.beginnerone.BeginnerOne" />
        <activity android:name="koreanlearning.hangul.serokorean.main.MainActivity" />
        <activity android:name="koreanlearning.hangul.serokorean.main.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>